.Home {
     font-size: 60px;   
     
}
.marginTop{
     margin-top: 150px;
}
.V{
     color: azure;
}
.floatName{
     position: absolute;
     top: 100%;
     left:90%;
     transform: translate(-50%, -50%);
}
