
.newcolor {
    background: rgb(0, 0, 0);
    opacity: 0.8;
    color: white;
 }
.newcolor a{
    color: white;
}

.navbar{
    --bs-navbar-hover-color:red;
    --bs-navbar-brand-hover-color:rgb(255, 85, 85);
}


.navbar-toggler-icon{
    background-color: rgb(255, 28, 28);
    border-radius: 5px;
    
}
.navbar-toggler-icon:hover{
    background-color: rgb(255, 128, 121);
   
}
.list-group-item{
    background-color: rgb(255, 220, 220);

}

.v{
    color: rgb(0, 208, 245);
}
